body {
  background-color: #ffffff;
  color: #757575;
}

ul {
  list-style: none;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* наведение курсором #2196F3 */
/* бэкграунд 1 #2F303A */
/* бэкграунд 2 #F5F4FA */

.logo-header {
  color: #2196f3;
}
.logo-header > .logo-part {
  color: #000000;
}

/* Site nav */

.site-nav .alink {
  color: #2196f3;
}
.site-nav .link {
  color: #212121;
}

.contact-menu .link {
  color: #757575;
}
.contact-menu .link:hover,
.contact-menu .link:focus {
  color: #2196f3;
}

.section-title {
  color: #212121;
}

/* Бэкграунд Героя */

.hero-image {
  background-image: url(/imajes/Bg.jpg);
}
