body {
  background-color: #ffffff;
  color: #757575;
}

ul {
  list-style: none;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* наведение курсором #2196F3 */
/* бэкграунд 1 #2F303A */
/* бэкграунд 2 #F5F4FA */

.logo {
  color: #2196f3;
}
